---
http_interactions:
- request:
    method: post
    uri: https://www.linkedin.com/uas/oauth2/accessToken
    body:
      encoding: US-ASCII
      string: grant_type=authorization_code&code=test-auth-code&client_id=&client_secret=&redirect_uri=http%3A%2F%2F127.0.0.1%3A3999%2Fsign_in%2Foauth2%2Flinked_in%2Fcallback
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json;charset=UTF-8
      content-language:
      - en-US
    body:
      encoding: US-ASCII
      string: ! '{"expires_in":5183999,"access_token":"dummy-access-token"}'
  recorded_at: Thu, 11 Apr 2013 18:01:49 GMT
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/~:(firstName,lastName,emailAddress)?format=json&oauth2_access_token=dummy-access-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json;charset=UTF-8
      content-language:
      - en-US
    body:
      encoding: US-ASCII
      string: ! '{"emailAddress":"test@example.com","firstName":"FName", "lastName":"LName"}'
  recorded_at: Thu, 11 Apr 2013 18:01:50 GMT
recorded_with: VCR 2.4.0
